.Input_field{
    margin-bottom: 1rem  ;
    border: 2px solid #d9d9d9;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1.5rem;
    background-color: #fafafa;
}
.Input_field label{
    font-weight: 700;
    align-content: center;
    font-size: 0.8rem;
}
.Input_field input {
    background-color: black;
    border-radius: 1rem;
    color: white;
    padding: 0.2rem 0.2rem 0.2rem 0.8rem;
    width: 60%;
}
.Input_field textarea{
    background-color: black;
    border-radius: 1rem;
    color: white;
    padding: 0.2rem 0.2rem 0.2rem 1rem;
    align-content: center;
    width: 60%;
}
.container{
    margin: 1rem;
}
.img_conatiner{
    display: none;
}

@media only screen and (min-width:768px){
    .img_conatiner{
        display: block;
        width: 45%;
        /* height: 100%;  */
    }
    .img_conatiner img{
        width: 25rem;
        filter: grayscale();
    }
    .form{
        width: 45%;
    }
    .container{
        display: flex;
        justify-content: space-between;
        margin: 2rem;
        
       

    }
}
@media only  screen and (min-width:1024px){
    .container{
        margin: 5rem;
    }
    .Input_field input{
        font-size:1rem;
    }
    .Input_field textarea{
        font-size:1rem;
    }
    .Input_field label{
        font-size: 1rem;
    }
    .Input_field{
        padding-left: 1rem;
    }
    .img_conatiner img{
        width: 28rem;
    }
}
@media only screen and (min-width:1440px){
    .img_conatiner img{
        width: 30rem;
        padding: 2rem;
    }
    .container{
        margin: 5rem 10rem 5rem 10rem;
    }
    .Input_field textarea{
        font-size:1rem;
        
    }
    .form h4{
        font-size: 1.5rem;
    }
    /* .img_conatiner{
        border: 2px solid yellow;
    } */
}
@media only screen and (min-width:2560px){
    .container{
        margin: 5rem;
    }
    .Input_field input{
        font-size:2rem;
        border-radius: 2rem;
        padding: 1rem;
    }
    .Input_field textarea{
        font-size:2rem;
        border-radius: 2rem;
    }
    .Input_field label{
        font-size: 2rem;
    }
    .Input_field{
        padding: 2rem;
        border-radius: 4rem;
    }
    .img_conatiner img{
        width: 60rem;
        padding: 3rem;
        height: 60rem;
    }
    .form h4{
        font-size: 3rem;
    }
}